<section class="section-container">
  <div class="form-group">
    <h3 class="form-group__group-title">Usage!</h3>
    <p class="form-group__simple-text">
      Some information about the frame-work.
    </p>
  </div>
  <div class="form-group">
    <h4 class="form-group__sub-title">Form strukture</h4>
    <ul class="form-group__list">
      <li class="form-group__list-item">Item(s) group css usage <code>.form-group</code></li>
      <li class="form-group__list-item">Form main title <code>.form-group__group-title</code></li>
      <li class="form-group__list-item">Form sub title <code>.form-group__sub-title</code></li>
      <li class="form-group__list-item">Paragraph <code>.form-group__simple-text</code></li>
      <li class="form-group__list-item">List <code>.form-group__list</code></li>
      <li class="form-group__list-item">List item <code>.form-group__list-item</code></li>
    </ul>
  </div>
  <div class="form-group">
    <h4 class="form-group__sub-title">Inputs</h4>
    <ul class="form-group__list">
      <li class="form-group__list-item">Simple text input css usage <code>.form-group__text-input</code></li>
      <li class="form-group__list-item">Radio button <code>.form-group__radio-input</code></li>
      <li class="form-group__list-item">Checkbox <code>.form-group__checkbox-input</code></li>
      <li class="form-group__list-item">Textarea <code>.form-group__textarea</code></li>
      <li class="form-group__list-item">Default button <code>.form-group__button</code>
        <ul>
          <li class="form-group__list-item">Blue button <code>.form-group__button--submit</code>
          <li class="form-group__list-item">Green button <code>.form-group__button--accept</code>
          <li class="form-group__list-item">Red button <code>.form-group__button--decline</code>
        </ul>
      </li>
    </ul>
  </div>
</section>