<section class="section-container">
  <div class="form-group">
    <h3 class="form-group__group-title">General settings</h3>
    <div class="input-container">
      <label class="input-container__title" for="site-name">Site name:</label>
      <input class="input-container__text-input input-container__text-input--error" type="text" id="color" palceholder="Ööö color ...">
      <span class="input-container__error-text">Is this a "real name" ...</span>
      <span class="input-container__help-text">You can set the site name here!</span>
    </div>
    <div class="input-container">
        <label class="input-container__title" for="main-email">Main email:</label>
        <input class="input-container__text-input" type="text" id="main-email" palceholder="Email ...">
        <span class="input-container__error-text"></span>
        <span class="input-container__help-text">You can set here the main email address ...</span>
      </div>
    <div class="input-container">
      <label class="input-container__title" for="color">Theme style:</label>
      <label class="input-container__radio-input">Fun
        <input class="hidden" type="radio" name="theme" checked>
        <span class="input-container__radio-input--checkmark"></span>
      </label>
      <label class="input-container__radio-input">Real
        <input class="hidden" type="radio" name="theme">
        <span class="input-container__radio-input--checkmark"></span>
      </label>
      <span class="input-container__error-text"></span>
      <span class="input-container__help-text"></span>
    </div>
  </div>
</section>

<section class="section-container">
  <div class="form-group">
    <h3 class="form-group__group-title">Other options</h3>
    <div class="input-container">
      <label class="input-container__title" for="site-font-family">Font family:</label>
      <input class="input-container__text-input input-container__text-input--error" type="text" id="site-font-family" palceholder="Family ...">
      <span class="input-container__error-text">It's not a valid font family name ...</span>
      <span class="input-container__help-text">You know ...</span>
    </div>
    <div class="input-container">
      <label class="input-container__title" for="color">Label color:</label>
      <input class="input-container__text-input" type="text" id="color" palceholder="Ööö color ...">
      <span class="input-container__error-text"></span>
      <span class="input-container__help-text">You can pick some color here ...</span>
    </div>
  </div>
  <div class="form-group">
    <h3 class="form-group__group-title">Size</h3>
    <div class="input-container">
      <label class="input-container__title" for="color">Font size:</label>
      <input class="input-container__text-input" value="10px" type="text" id="color" palceholder="Ööö color ...">
      <span class="input-container__error-text"></span>
      <span class="input-container__help-text">You can ...</span>
    </div>
    <div class="input-container">
      <label class="input-container__title" for="">Extra space:</label>
      <label class="input-container__checkbox-input" for="margin">Margin
        <input class="hidden" type="checkbox" id="margin">
        <span class="input-container__checkbox-input--checkmark"></span>
      </label>
      <label class="input-container__checkbox-input" for="padding">Padding
        <input class="hidden" type="checkbox" id="padding">
        <span class="input-container__checkbox-input--checkmark"></span>
      </label>
      <span class="input-container__error-text"></span>
      <span class="input-container__help-text"></span>
    </div>
  </div>
</section>
<section class="section-container">
  <div class="form-group">
    <div class="input-container">
      <label class="input-container__title" for="welcome-text">Welcome text:</label>
      <textarea class="input-container__textarea input-container__text-input--error" id="welcome-text" palceholder="..."></textarea>
      <span class="input-container__error-text">It's too short ...</span>
      <span class="input-container__help-text">Just write some nice ...</span>
    </div>
  </div>
</section>
<section class="two-columns-section-container">
  <div class="two-columns-section-container__left">
    <div class="form-group">
      <div class="input-container">
        <label class="input-container__title" for="comment">Some comment for yourself:</label>
        <textarea class="input-container__textarea input-container__text-input--error" id="comment" palceholder="Ööö color ..."></textarea>
        <span class="input-container__error-text"></span>
        <span class="input-container__help-text"></span>
      </div>
    </div>
  </div>
  <div class="two-columns-section-container__right">
    <div class="form-group">
        <div class="input-container">
          <label class="input-container__title" for="">Colors what you like:</label>
          <label class="input-container__checkbox-input" for="red">Red
            <input class="hidden" type="checkbox" id="red">
            <span class="input-container__checkbox-input--checkmark"></span>
          </label>
          <label class="input-container__checkbox-input" for="green">Green
            <input class="hidden" type="checkbox" id="green">
            <span class="input-container__checkbox-input--checkmark"></span>
          </label>
          <label class="input-container__checkbox-input" for="blue">Blue
            <input class="hidden" type="checkbox" id="blue">
            <span class="input-container__checkbox-input--checkmark"></span>
          </label>
        </div>
    </div>
  </div>
</section>
<section class="section-container">
  <div class="form-group">
    <div class="input-container">
      <button class="input-container__button input-container__button--submit">Submit</button>
      <button class="input-container__button input-container__button--accept">Accept</button>
      <button class="input-container__button input-container__button--decline">Decline</button>
      <button class="input-container__button">Cancel</button>
    </div>
  </div>
</section>