@import '../../colors.scss';

header {
    background: $background;
    padding: 10px 20px;
    margin-left: 300px;
    color: $main-blue;
    
    @media (max-width: 576px) {
        margin-left: 0;
    }
}

.main-content {
    padding: 20px;
    margin-left: 300px;
    
    @media (max-width: 576px) {
        margin-left: 0;
    }
}