@import '../../colors.scss';

header {
    background: $background;
    padding: 10px 20px;
    margin-left: 300px;
    color: $main-blue;
}

.main-content {
    padding: 20px;
    margin-left: 300px;
}