<div class="three-columns-section-container">
  <div class="three-columns-section-container__left">
    <div class="box">
      <h5 class="box__title">Earning Report <fa name="chart-line" style="color: aqua;"></fa></h5>
      <div class="box__count">344</div>
      <div class="box__label">Export</div>
      <div class="box__progress-bar">
        <div class="box__progress-bar-filled" style="width: 50%; background: aqua;"></div>  
      </div>
    </div>
  </div>
  <div class="three-columns-section-container__middle">
    <div class="box">
      <h5 class="box__title">Used apps<fa name="chart-line" style="color: chocolate;"></fa></h5>
      <div class="box__count">14364</div>
      <div class="box__label">Users</div>
      <div class="box__progress-bar">
        <div class="box__progress-bar-filled" style="width: 70%; background: chocolate;"></div>  
      </div>
    </div>
  </div>
  <div class="three-columns-section-container__right">
      <div class="box">
        <h5 class="box__title">Usage<fa name="chart-line" style="color: indigo;"></fa></h5>
        <div class="box__count">99876</div>
        <div class="box__label">Avarge</div>
        <div class="box__progress-bar">
          <div class="box__progress-bar-filled" style="width: 70%; background: indigo;"></div>  
        </div>
      </div>
  </div>
</div>
<section class="section-container">
  <h5>Earning Reports</h5>
  <table class="earning-table">
    <thead>
      <tr>
        <th>Name <fa name="chevron-down"></fa></th>
        <th>Status</th>
        <th>Earnings</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let earning of earnings">
          <td><img class="earning-table__picture" [src]="earning.picture">{{ earning.name }}</td>
          <td>
            <span 
              class="earning-table__status"
              [ngClass]="{
                'earning-table__status--rising':earning.status === 'Rising',
                'earning-table__status--veteran':earning.status === 'Veteran',
                'earning-table__status--new':earning.status === 'New'
                }"            
              >
              {{ earning.status }}
            </span>
          </td>
          <td>{{ earning.earning | currency:"CAD":"symbol-narrow"}}</td>
      </tr>
    </tbody>
  </table>
</section>