@import '../../colors.scss';


.earning-table {
    &__status {
        padding: .3rem .7rem;
        border-radius: 5px;

        &--rising {
            background: $main-aqua;
        }

        &--new {
            background: $main-green;
        }

        &--veteran {
            background: $main-purple;
        }
    }
    
    &__picture {
        max-width: 4rem;
        margin-right: 1rem;
        border-radius: 50%;
    }
}
    