<section class="section-container">
	<div class="form-group">
		<div class="input-container">
			<label class="input-container__title" for="color">Color:</label>
			<input class="input-container__text-input input-container__text-input--error" type="text" id="color" palceholder="Ööö color ...">
			<span class="input-container__error-text">It's not a color ...</span>
			<span class="input-container__help-text">You can pick some color here ...</span>
		</div>
		<div class="input-container">
			<label class="input-container__title" for="color">Lorem:</label>
			<label class="input-container__radio-input">Lorem
				<input class="hidden" type="radio" name="first">
				<span class="input-container__radio-input--checkmark"></span>
			</label>
			<label class="input-container__radio-input">Ipsum
				<input class="hidden" type="radio" name="first">
				<span class="input-container__radio-input--checkmark"></span>
			</label>
			<span class="input-container__error-text"></span>
			<span class="input-container__help-text"></span>
		</div>
	</div>
</section>
<section class="section-container">
	<div class="form-group">
		<h3 class="form-group__group-title">Colors</h3>
		<div class="input-container">
			<label class="input-container__title" for="color">Font color:</label>
			<input class="input-container__text-input input-container__text-input--error" type="text" id="color" palceholder="Ööö color ...">
			<span class="input-container__error-text">It's not a color ...</span>
			<span class="input-container__help-text">You can pick some color here ...</span>
		</div>
		<div class="input-container">
			<label class="input-container__title" for="color">Label color:</label>
			<input class="input-container__text-input" type="text" id="color" palceholder="Ööö color ...">
			<span class="input-container__error-text"></span>
			<span class="input-container__help-text">You can pick some color here ...</span>
		</div>
	</div>
	<div class="form-group">
		<h3 class="form-group__group-title">Size</h3>
		<div class="input-container">
			<label class="input-container__title" for="color">Font size:</label>
			<input class="input-container__text-input" type="text" id="color" palceholder="Ööö color ...">
			<span class="input-container__error-text"></span>
			<span class="input-container__help-text">You can ...</span>
		</div>
		<div class="input-container">
			<label class="input-container__title" for="color">Lorem:</label>
			<label class="input-container__checkbox-input">Lorem
				<input class="hidden" type="checkbox">
				<span class="input-container__checkbox-input--checkmark"></span>
			</label>
			<label class="input-container__checkbox-input">Ipsum
				<input class="hidden" type="checkbox">
				<span class="input-container__checkbox-input--checkmark"></span>
			</label>
			<span class="input-container__error-text"></span>
			<span class="input-container__help-text"></span>
		</div>
	</div>
</section>
<section class="section-container">
	<div class="form-group">
		<div class="input-container">
			<label class="input-container__title" for="color">Color:</label>
			<textarea class="input-container__textarea input-container__text-input--error" palceholder="Ööö color ..."></textarea>
			<span class="input-container__error-text">It's not a color ...</span>
			<span class="input-container__help-text">You can pick some color here ...</span>
		</div>
	</div>
</section>
<section class="section-container">
	<div class="form-group">
		<div class="input-container">
			<button class="input-container__button input-container__button--submit">Submit</button>
			<button class="input-container__button input-container__button--accept">Accept</button>
			<button class="input-container__button input-container__button--decline">Decline</button>
			<button class="input-container__button">Cancel</button>
		</div>
	</div>
</section>

<section class="two-columns-section-container">
	<div class="two-columns-section-container__left">
		<div class="form-group">
			<div class="input-container">
				<label class="input-container__title" for="color">Color:</label>
				<textarea class="input-container__textarea input-container__text-input--error" palceholder="Ööö color ..."></textarea>
				<span class="input-container__error-text">It's not a color ...</span>
				<span class="input-container__help-text">You can pick some color here ...</span>
			</div>
		</div>
	</div>
	<div class="two-columns-section-container__right">
		<div class="form-group">
			<div class="input-container">
				<label class="input-container__title" for="color">Color:</label>
				<textarea class="input-container__textarea input-container__text-input--error" palceholder="Ööö color ..."></textarea>
				<span class="input-container__error-text">It's not a color ...</span>
				<span class="input-container__help-text">You can pick some color here ...</span>
			</div>
		</div>
	</div>
</section>