$background:            #282c33;
$background-light:      #383d46;

$font-color:            #ffffff;
$menu-font-color:       #607d8b;
$menu-font-color-hover: #2789d3;

$main-blue:             #2789d3;
$main-aqua:             #25c5da;
$main-orange:           #feb13b;
$main-purple:           #7361eb;
$main-red:              #e9476d;