$background:            #282c33;
$background-light:      #383d46;

$font-color:            #ffffff;
$gray-font-color:       #939799;
$menu-font-color:       #607d8b;
$menu-font-color-hover: #2789d3;

$main-blue:             #2789d3;
$main-aqua:             #25c5da;
$main-green:            #8CC351;
$main-green-dark:       #5A7842;
$main-orange:           #feb13b;
$main-purple:           #7361eb;
$main-red:              #e9476d;
$warning-red:           #F8353F;
$warning-red-dark:      #903139;
