@import './colors.scss';

table {
    width: 100%;
    margin: 1rem 0;

    thead {
        font-size: 1.1rem;
        border-bottom: 2px solid $background-light;
        height: 2rem;

        tr {
            min-height: 2rem;
        }

        th {
            padding: 1rem;
        }

        fa {
           font-size: .6rem;
           vertical-align: middle;
           cursor: pointer;
        }
    }

    tbody {
        tr {
            cursor: pointer;
    
            &:hover {
                background: $background-light;
            }
    
        }
    
        td {
            padding: 1rem;
        }
    }
}